<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="server=.;integrated security=true"/>
    <add name="Northwind" connectionString="server=.;database=northwind;integrated security=true;"/>
  </connectionStrings>
</configuration>