<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Insight.Database" version="4.1.1" targetFramework="net451" />
  <package id="Insight.Database.Core" version="4.1.1" targetFramework="net451" />
  <package id="UniqueNamespace.SqlBuilder" version="1.1.0" targetFramework="net451" />
  <package id="UniqueNamespace.SqlBuilder.Dapper" version="1.0.0" targetFramework="net451" />
  <package id="UniqueNamespace.SqlBuilder.Insight" version="1.0.0" targetFramework="net451" />
</packages>